# Git
.git
.gitignore

# Environment files
.env

# Compiled binary
go-upload

# Build artifacts
tmp/

# IDE
.vscode
.idea

# Documentation
*.md
readme.md

# Test files
*_test.go

# Endpoint testing
endpoint.http

# Existing file storage (will be mounted as volume)
file-storage/

# Docker files
Dockerfile
.dockerignore
compose*.yaml

# Air live reload
.air.toml
